/* grid container */
main {
  display: grid;
  grid-template-areas:
    "topbar   topbar     topbar"
    "ads      content    sidebar"
    "footer   footer   footer";

  /* grid spacing */
  /* use fr (fractional) units to share space with other units */
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 50px auto 70px;

  /* gap between grid lines (vertical horizontal) */
  gap: 0 50px;

  align-items: center; /* align items vertically */
  justify-items: center; /* justify items horizontally */
}

/* grid items */
header {
  grid-area: topbar;
}
aside {
  grid-area: ads;
}
article {
  grid-area: content;
}
nav {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}

/* dynamic grid */
.dynamic {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}



@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }